<div class="js-ta-x-settings-menu-wrench gamer-page" aria-haspopup="true">
    <i class="fa fa-wrench"></i>
</div>

<div class="js-ta-x-settings-menu ta-x-settings-menu ta-x-hide">
    <div class="middle">
        <div class="wrap">
            <div class="labels">
                <label class="js-ta-x-settings-menu-close close">
                    <i class="fa fa-close"></i>
                </label>
            </div>
            <div class="contents">
                <div class="contents open ta-x-settings-menu-settings">
                    <div class="t-settings js-ta-x-settings-menu-settings ta-x-settings-menu-settings-item ta-x-settings-menu-settings-item-show" >
                        {{ includes "@ta-x-features/sticky-header/settings.hbs" }}

                        {{ includes "@ta-x-features/forum-improvements/settings.hbs" }}

                        {{ includes "@ta-x-features/gamer-improvements/settings.hbs" }}

                        {{ includes "@ta-x-features/games-improvements/settings.hbs" }}

                        {{ includes "@ta-x-features/news-improvements/settings.hbs" }}

                        {{ includes "@ta-x-features/staff-walkthrough-improvements/settings.hbs" }}
                    </div>
                    <div class="t-settings js-ta-x-settings-menu-changelog ta-x-settings-menu-settings-item" >
                        {{ changelog (markdown "@ta-x-project-root/CHANGELOG.md" false "ta-x-settings-menu-changelog-wrapper") }}
                        {{ credits (markdown "@ta-x-project-root/CREDITS.md" false "ta-x-settings-menu-credits-wrapper") }}
                    </div>
                </div>
                <div class="t-settings open ta-x-settings-menu-bottom">
                    <ul class="list-links buttons">
                        <li><a href="https://github.com/andrewcartwright1/trueachievements-extra/issues/new">Raise a Bug</a></li>
                        <li><a href="https://github.com/andrewcartwright1/trueachievements-extra/issues/new">Request a Feature</a></li>
                    </ul>
                    <div class="title">
                        <span>TrueAchievements Extra</span>
                        <div class="ta-x-flex-break"></div>
                        <a href="#" class="js-ta-x-settings-menu-version">Version {GM_info.script.version}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="js-ta-x-settings-menu-close close"></div>
</div>

                    <!-- <div>
                        <label>Show recent winners</label>
                        <div class="frm-grp frm-tgl">
                            <input type="checkbox" id="chkRecentWinners" name="chkRecentWinners"
                                data-config-area="recentWinners" data-config-setting="enabled" checked="">
                            <label for="chkRecentWinners"> </label>
                        </div>
                    </div>
                    <div data-render-condition='{ "selector": "#chkRecentWinners", "checked": true }' class="ta-x-hide">
                        <label class="ta-x-settings-menu-sub-setting">Online unlocks only</label>
                        <div class="frm-grp frm-tgl">
                            <input type="checkbox" id="chkRecentWinnersOnlineUnlocksOnly" name="chkRecentWinnersOnlineUnlocksOnly"
                                data-config-area="recentWinners" data-config-setting="onlineUnlocksOnly" checked="">
                            <label for="chkRecentWinnersOnlineUnlocksOnly"> </label>
                        </div>
                    </div>
                    <div data-render-condition='{ "selector": "#chkRecentWinners", "checked": true }' class="ta-x-hide">
                        <label class="ta-x-settings-menu-sub-setting">Base game only</label>
                        <div class="frm-grp frm-tgl">
                            <input type="checkbox" id="chkRecentWinnersBaseGameOnly" name="chkRecentWinnersBaseGameOnly"
                                data-config-area="recentWinners" data-config-setting="baseGameOnly" checked="">
                            <label for="chkRecentWinnersBaseGameOnly"> </label>
                        </div>
                    </div> -->