{{#if asCheckbox}}
    <div class="ta-x-checkbox ta-x-settings-menu-settings-accordion-header labels js-ta-x-accordion {{#if expanded}}expanded{{else}}collapsed{{/if}}" data-checkbox-accordion>
        <label>{{title}}</label>
        <div class="frm-grp frm-tgl">
            <input
                type="checkbox"
                id="{{id}}"
                name="{{#if name}}{{name}}{{else}}{{id}}{{/if}}"
                data-config-path="{{config-path}}"
                checked="">

            <label
                for="{{#if name}}{{name}}{{else}}{{id}}{{/if}}">
            </label>
        </div>
    </div>
{{else}}
    <div class="ta-x-settings-menu-settings-accordion-header labels js-ta-x-accordion {{#if expanded}}expanded{{else}}collapsed{{/if}}">
        <span>{{title}}</span>

        {{ includes "@ta-x-svgs/chevron-down.hbs" classes="ta-x-settings-menu-settings-accordion-header-icon" }}
    </div>
{{/if}}