{{#if asCheckbox}}
  <div
    class="ta-x-checkbox ta-x-settings-menu-settings-accordion-header labels js-ta-x-accordion
      {{ternary expanded 'expanded' 'collapsed'}}"
    data-checkbox-accordion
  >
    <label>
      {{title}}
    </label>
    <div class="frm-grp frm-tgl">
      <input
        type="checkbox"
        id="{{id}}"
        name="{{ternary name name id}}"
        data-config-path="{{config-path}}"
        checked=""
      />

      <label for="{{ternary name name id}}">
      </label>
    </div>
  </div>
{{else}}
  <div
    class="ta-x-settings-menu-settings-accordion-header labels js-ta-x-accordion
      {{ternary expanded 'expanded' 'collapsed'}}"
  >
    <span>
      {{title}}
    </span>

    {{includes
      "@ta-x-svgs/chevron-down.hbs"
      classes="ta-x-settings-menu-settings-accordion-header-icon"
    }}
  </div>
{{/if}}