<section class="purple js-ta-x-ask-loader-container ta-x-ask-loader-container {{section-classes}}">
    <div>{{section-title}}</div>
    <article>
        <div class="ta-x-article-loader">
            <p>Please wait, loading.</p>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                <path fill="currentColor" d="M304 48c0-26.5-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48s48-21.5 48-48zm0 416c0-26.5-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48s48-21.5 48-48zM48 304c26.5 0 48-21.5 48-48s-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48zm464-48c0-26.5-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48s48-21.5 48-48zM142.9 437c18.7-18.7 18.7-49.1 0-67.9s-49.1-18.7-67.9 0s-18.7 49.1 0 67.9s49.1 18.7 67.9 0zm0-294.2c18.7-18.7 18.7-49.1 0-67.9S93.7 56.2 75 75s-18.7 49.1 0 67.9s49.1 18.7 67.9 0zM369.1 437c18.7 18.7 49.1 18.7 67.9 0s18.7-49.1 0-67.9s-49.1-18.7-67.9 0s-18.7 49.1 0 67.9z"/>
            </svg>
        </div>
        <div class="js-ta-x-ask-loader-ask ta-x-ask-loader-ask ta-x-hide">
            <p>{{ask-information}}</p>
            <div>
                <label class="small">{{ask-label}}</label>
                <input type="text"
                    id="{{label-id}}"
                    name="{{#if label-name}}{{label-name}}{{else}}{{label-id}}{{/if}}" 
                    value=""
                    class="textbox cs-n js-ta-x-ask-loader-ask-input">
            </div>
            <input type="submit"
                id="{{input-id}}"
                name="{{#if input-name}}{{input-name}}{{else}}{{input-id}}{{/if}}"
                value="Save" class="button js-ta-x-ask-loader-ask-button">
        </div>
    </article>
</section>