{{ parseProperty 'options' options }}

<div data-render-condition="{{render-condition}}" class="frm-grp frm-sel {{#if render-condition}}ta-x-hide{{/if}}">
    {{#if label}}<label>{{label}}</label>{{/if}}
    <select
        id="{{id}}"
        name="{{#if name}}{{name}}{{else}}{{id}}{{/if}}" 
        data-config-path="{{config-path}}"
        class="dropdown">
        {{#each options}}
            <option
                value="{{this.value}}"
                selected="{{this.selected}}">{{this.text}}</option>
        {{/each}}
    </select>
    {{#if helper-text}}
        <div class="ta-x-flex-break"></div>
        <p data-render-condition="{{helper-render-condition}}" class="{{#if helper-render-condition}}ta-x-hide{{/if}}">{{helper-text}}</p>
    {{/if}}
</div>