<div
  class="ta-x-settings-menu-settings-accordion"
  data-render-condition='{ "selector": "#chkGamesImprovements", "checked": true }'
>
  {{includes
    "@ta-x-partials/accordion-header.hbs"
    title="Achievements"
    expanded=false
  }}

  <div class="ta-x-settings-menu-settings-accordion-body t-settings">
    {{includes
      "@ta-x-partials/checkbox-setting.hbs"
      label="Show progress as XX/XX"
      id="chkGamesImprovementsGameAchievementsIndividualProgress"
      config-path="gamesImprovements.achievements.gameAchievementsIndividualProgress"
    }}

    <div class="ta-x-settings-menu-columned-setting">
      {{includes
        "@ta-x-partials/checkbox-setting.hbs"
        label="Default Status for Game Achievements"
        id="chkGamesImprovementsGameAchievementsDefaultStatus"
        config-path="gamesImprovements.achievements.gameAchievementsDefaultStatus"
      }}

      {{includes
        "@ta-x-partials/select-setting.hbs"
        render-condition='{ "selector": "#chkGamesImprovementsGameAchievementsDefaultStatus", "checked": true }'
        id="selGamesImprovementsGameAchievementsDefaultStatusValue"
        config-path="gamesImprovements.achievements.gameAchievementsDefaultStatusValue"
        options='[
          { "value": "rdoAllAchievements", "text": "All", "selected": true },
          { "value": "rdoWonAchievements", "text": "Won" },
          { "value": "rdoNotWonAchievements", "text": "Not Won" }]'
      }}
    </div>

    {{includes
      "@ta-x-partials/checkbox-setting.hbs"
      label="Include Guides From XboxAchievements.com"
      id="chkGamesImprovementsGameAchievementsShowXboxAchievementGuides"
      config-path="gamesImprovements.achievements.gameAchievementsShowXboxAchievementGuides"
      helper-render-condition='{ "selector": "#chkGamesImprovementsGameAchievementsShowXboxAchievementGuides", "checked": true }'
      helper-text="This feature is tempermental, let me know if you have any issues!"
    }}
  </div>
</div>