<div class="ta-x-settings-menu-settings-accordion" data-render-condition='{ "selector": "#chkStaffWalkthroughImprovements", "value": "true" }'>
    {{ includes "@ta-x-partials/accordion-header.hbs" title="Manage Walkthrough" expanded=false }}

    <div class="ta-x-settings-menu-settings-accordion-body t-settings">
        {{ includes "@ta-x-partials/checkbox-setting.hbs"
            label="Clickable Table Links"
            id="chkStaffWalkthroughImprovementsClickableTableLinks"
            config-path="staffWalkthroughImprovements.manageWalkthrough.clickableTableLinks" }}

        {{ includes "@ta-x-partials/checkbox-setting.hbs"
            label="Auto Select First Walkthrough"
            id="chkStaffWalkthroughImprovementsAutoSelectFirst"
            config-path="staffWalkthroughImprovements.manageWalkthrough.autoSelectFirst" 
            helper-render-condition='{ "selector": "#chkStaffWalkthroughImprovementsManageWalkthroughDefaultStatus", "value": "true" }'
            helper-text="This feature runs after the default status has been set." }}

        <div class="ta-x-settings-menu-columned-setting">
            {{ includes "@ta-x-partials/checkbox-setting.hbs"
                label="Default Status for Manage Walkthrough"
                id="chkStaffWalkthroughImprovementsManageWalkthroughDefaultStatus"
                config-path="staffWalkthroughImprovements.manageWalkthrough.manageWalkthroughDefaultStatus" }}

            {{ includes "@ta-x-partials/select-setting.hbs"
                render-condition='{ "selector": "#chkStaffWalkthroughImprovementsManageWalkthroughDefaultStatus", "value": "true" }'
                id="selStaffWalkthroughImprovementsManageWalkthroughDefaultStatusValue"
                config-path="staffWalkthroughImprovements.manageWalkthrough.manageWalkthroughDefaultStatusValue"
                options='[
                    { "value": "-1", "text": "(All)", "selected": true },
                    { "value": "New", "text": "New" },
                    { "value": "In progress", "text": "In progress" }, 
                    { "value": "Ready for review", "text": "Ready for review" },
                    { "value": "Ready for publish", "text": "Ready for publish" },
                    { "value": "Published", "text": "Published" },
                    { "value": "New owner required", "text": "New owner required" }]' }}
        </div>
    </div>
</div>